/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.container {
  width: 80%;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: row;
}

.profile-picture {
  width: 18%;
  margin: 2%;
  border: 1px solid black;
  text-align: center;
}

.profile-picture img {
  height: 150px;
  margin: auto;
}

.user-description {
  width: 78%;
  margin: 2%;
  border: 1px solid black;
  padding: 15px;
}

.post-count {
  float: right;
}

.page-title {
  text-align: center;
  margin: 2%;
}

.view-details {
  float: right;
  font-size: 15px;
}

.user-biography {
  margin: 2%;
  border: 1px solid black;
  padding: 15px;
}

.post-row {
  margin: 2%;
  border: 1px solid black;
  padding: 15px;
}

.post-links {
  text-align: right;
}

.subtitles {
  margin: 2%;
}

.button-wrapper {
  width: 30%;
  height: 30px;
  margin: 20px 40%;
}

.see-all-button {
  box-shadow: 4px 4px 0 0 black;
  padding: 12px 20px;
  text-decoration: none;
}

.page-title-left {
  text-align: left;
  margin: 2%;
}

span.view-comment {
  font-size: 15px;
  font-weight: 300;
  float: right;
}

.recent-comments {
  margin: 2%;
  border: 1px solid black;
  padding: 15px;
}

.back-link {
  margin: 2%;
  font-size: 14px;
  text-align: right;
}

.back-link a {
  font-size: 20px;
}